:root {
  --primary: rgba(62, 0, 128, 1);
  --secondary: green;
}

@font-face {
  font-family: "SF-Pro";
  src: url(/assets/FontsFree-Net-SFProText-Regular.ttf);
  src: url(/assets/FontsFree-Net-SFProDisplay-Regular.ttf);
}

@font-face {
  font-family: "Inter";
  src: url(/assets/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

/* header */
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}

nav {
  grid-column: 1 / span 8;
  grid-row: 1;
}

ul {
  display: flex;
  list-style: none;
  height: 44px;
  align-items: center;
  margin: 0 10px;
}

ul li {
  margin: 0 5px;
  font-family: Sf-Pro;
  font-weight: 600;
}

.statusBarIcons {
  margin-left: auto;
}

.hamburgerMenuIcon {
  grid-column: 8 / span 1;
  grid-row: 2;
  cursor: pointer;
}

/*collapsable hamburger menu */

.hamburgerMenu {
  grid-column: 4 / span 5;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  z-index: 1;
  background-color: rgba(255, 255, 255, 1);
  overflow: hidden;
  height: 100%;
  /* display: none; */
}

.openMenu {
  display: none;
}

.closeMenu {
  background-color: red;
}

.topHamMenuColorShapes {
  grid-column: 5 / span 3;
  grid-row: 1;
  margin-top: -120px;
}

.notificationIcon {
  grid-column: 8 / span 1;
  grid-row: 1;
  z-index: 2;
  margin: 16px 16px 0 0;
}

.trainerProfileHamMenu {
  grid-column: 1 / span 7;
  grid-row: 1;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trainerNameHamMenu {
  display: inline-block;
  margin-left: 18px;
}

#trainerName {
  font-size: 20px;
  font-family: SF-Pro;
  color: var(--primary);
  font-weight: 600;
}

#trainerUsername {
  font-size: 12px;
  font-family: SF-Pro;
  color: rgba(154, 154, 154, 1);
  font-weight: 500;
}

.hamburgerMenu ul {
  grid-column: 1 / span 8;
  grid-row: 2;
  display: inline-block;
  height: 100%;
  width: 213px;
  margin-top: -35px;
  cursor: pointer;
  place-self: center;
}

.hamburgerMenu ul li {
  height: 53px;
  display: flex;
  align-items: center;
  justify-content: right;
  width: 100%;
  border-bottom: 0.3px solid rgba(199, 162, 237, 0.5);
  color: var(--primary);
  font-family: Inter;
  font-weight: 600;
  font-size: 14px;
}

.hamburgerMenu ul img {
  margin-right: 37px;
}

.trimeTextLogoHamMenu {
  grid-column: 1 / span 8;
  grid-row: 3;
  height: 38px;
  width: 96px;
  margin: 27px auto;
}

.linkHamMenu {
  grid-column: 1 / span 8;
  grid-row: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: SF-Pro;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  background: rgba(205, 173, 239, 1);
}

.linkHamMenu p {
  margin: 13px 0;
  cursor: pointer;
}

.linkHamMenu button {
  margin: 15px 0 25px 0;
  width: 167px;
  height: 46px;
  font-family: SF-Pro;
  font-weight: 700;
  color: white;
  background: rgba(205, 173, 239, 1);
  border: 2px solid #3e0080;
  border-radius: 15px;
  cursor: pointer;
}
